@mixin screen-size-xs {
  @media (max-width: 600px) { @content; }
}

@mixin screen-size-s {
  @media (min-width: 600px) { @content; }
}

@mixin screen-size-m {
  @media (min-width: 768px) { @content; }
}

@mixin screen-size-l {
  @media (min-width: 992px) { @content; }
}

@mixin screen-size-xl {
  @media (min-width: 1200px) { @content; }
}

@mixin screen-size-xxl {
  @media (min-width: 1367px) { @content; }
}

// Grid layout
@mixin grid-wrapper {
  padding-left: 0.7vw;
  padding-right: 0.7vw;
}

@function grid-gap($multiplier) {
  @return 1.4vw * $multiplier;
}

@function grid-width($size: 1) {
  @return (((100vw / 10) - grid-gap(1)) * $size) + (grid-gap(1) * ($size - 1));
}

@function grid-margin() {
  // available space = screen total width - horizontal margins - (grid column width * 10)
  $availableSpace: 100vw - grid-gap(1) - (grid-width(1) * 10);
  $gridGaps: 9;

  @return ($availableSpace / $gridGaps) / 2;
}
