@import "_mixins";

.about {
  padding: 0 grid-margin();

  p, li {
    font-size: 25px;
    font-weight: normal;
    line-height: 35px;
    margin: 20px 0;
  }

  @include screen-size-m {
    .magazine-description > .wp-block-group__inner-container {
      display: grid;
      grid-template-columns: grid-width(4) grid-width(6);
      grid-gap: grid-gap(1);

      // Left div (arrow)
      .wp-block-group:nth-child(1) .wp-block-group__inner-container {
        position: absolute;
        top: 0;
        left: grid-margin();
        z-index: -1;
      }

      .wp-block-group:nth-child(2) {
        margin-top: 40vh;
      }
    }

    .concept {
      margin-top: 50px;
    }

    .concept > .wp-block-group__inner-container {
      display: grid;
      grid-template-columns: grid-width(4) grid-width(6);
      grid-gap: grid-gap(1);
    }
  }

  .magazine-description {
    .wp-block-image.arrow {
      display: flex;
      height: 50vh;

      img {
        margin: auto;
        height: 100%;
        width: auto;
      }

      @include screen-size-m {
        transform: rotate(-45deg);
      }
    }
  }

  .concept {
    ul {
      list-style: disc inside;
    }
  }

  .contact {
    // Transform h2 into pills
    h2 {
      margin: 30px auto auto auto;
      font-family: 'Founders Mono', monospace;
      font-size: 15px;
      font-weight: 200;
      display: inline-block;
      padding: 5px 15px;
      border-radius: 20px;
      color: $primary-color;
      background-color: $background;
      border: 1px solid $background-inverted;
      text-decoration: none!important;
      text-align: center;
      word-break: keep-all;
    }
  }
}
