@import "_fonts";
@import "_colors";
@import "_mixins";

.article--morgen {
  padding: 10px;

  @include screen-size-l {
    width: 80vw;
    margin: auto;
  }

  p {
    margin: $font-size-paragraph 0;
    line-height: $font-size-paragraph * 1.4;

    @include screen-size-l {
      margin: $font-size-paragraph * 2 0;
    }
  }

  figure {
    margin: 15px 0;
    width: 100%;
    text-align: center;

    img {
      width: 100%;
      height: auto;
      max-height: 400px;
      object-fit: scale-down;
    }
  }

  position: relative;
  padding-bottom: 0;

  .article__main {
    border: 0;

    @include screen-size-l {
      border: 2px solid $primary-color;
      border-top: 0;
      border-right: 0;
      border-bottom: 0;
    }
  }

  .article__content {
    @include screen-size-xl {
      p, h1, h2, h3, h4, h5, h6 {
        padding: 0 5px;
      }
    }
  }

  padding-top: 38px;

  @include screen-size-m {
    display: grid;
    grid-template-columns: 40% 60%;
    width: initial;
    padding: initial;
  }

  .article {
    &__back-button {
      display: none;
      @include screen-size-l {
        display: initial;
      }

      border: 0;
      padding: 0;
      background: inherit;

      position: absolute;
      left: grid-margin();
      width: grid-width(0.38);

      img {
        width: inherit;
        height: auto;
      }
    }

    &__header {
      @include screen-size-l {
        margin: 50px 0;
      }

      padding: 0 10px;
      text-align: left;

      @include screen-size-m {
        margin-bottom: 0;
      }
    }

    &__main {
      padding-bottom: 25vh;

      @include screen-size-m {
        border-left: 2px solid $primary-color;
      }
    }

    &__title {
      text-align: left;

      @include screen-size-l {
        width: 78%;
      }

      font-size: 30px;
      line-height: 35px;

      @include screen-size-xl {
        font-size: 53px;
        line-height: 53px;
      }

      @include screen-size-xxl {
        font-size: 75px;
        line-height: 75px;
      }
    }

    &__excerpt p {
      margin: 16px 0;

      @include screen-size-l {
        width: 78%;
        font-weight: 200;
      }

      font-size: 19px;
      line-height: 25px;

      @include screen-size-xl {
        font-size: 25px;
        line-height: 30px;
      }

      @include screen-size-xxl {
        font-size: 35px;
        line-height: 35px;
      }
    }

    &__meta {
      display: block;
      margin-top: 22px;
      font-weight: 200;
      font-family: 'Founders Mono', monospace;
      text-transform: uppercase;

      @include screen-size-l {
        margin-top: 30px;
      }

      font-size: 11px;
      line-height: 15px;

      @include screen-size-xl {
        font-size: 12px;
        line-height: 15px;
      }

      @include screen-size-xxl {
        font-size: 17px;
        line-height: 20px;
      }
    }

    &__content {
      padding: 0 10px;

      li {
        padding: 10px 5px;
        list-style-type: initial;
        list-style-position: inside;
      }

      @include screen-size-xl {
        p, h1, h2, h3, h4, h5, h6, ul {
          padding: 0 15%;
        }
      }

      p strong {
        font-weight: 600;
        font-size: inherit;
      }

      p em {
        font-style: oblique;
        font-size: inherit;
      }

      p a {
        font-size: inherit;
      }

      margin-top: 31px;

      @include screen-size-l {
        margin-top: 0;
        width: 81%;
      }

      h2, h3, h4, h5, h6 {
        padding: 0;
        margin: 0;
      }

      h2 {
        font-size: 30px;
        line-height: 38px;
        font-weight: 600;
      }

      h3 {
        font-size: 30px;
        font-weight: 600;
      }

      h4 {
        font-size: 28px;
        font-weight: 400;
      }

      h5 {
        font-size: 26px;
        font-weight: 400;
      }

      h6 {
        font-size: 24px;
        font-weight: 400;
      }

      p {
        margin: 20px 0;
        font-weight: 200;

        @include screen-size-l {
          padding: 10px 0;
          margin: 10px 0;

          &:first-child {
            margin-top: 25px;
          }
        }

        font-size: 19px;
        line-height: 25px;

        @include screen-size-xl {
          font-size: 21px;
          line-height: 25px;
        }

        @include screen-size-xxl {
          font-size: 30px;
          line-height: 35px;
        }
      }

      figure {
        margin: 15px 0;
      }

      .wp-block-image figcaption, .blocks-gallery-item figcaption {
        font-size: 12px;
        line-height: 15px;

        @include screen-size-xl {
          font-size: 12px;
          line-height: 15px;
        }

        @include screen-size-xxl {
          font-size: 17px;
          line-height: 20px;
        }
      }

      .wp-block-image {
        figcaption {
          font-family: 'Founders Mono', monospace;
          margin: 3px 0;
        }

        @include screen-size-m {
          position: absolute;
          left: 12px;
          margin: 0;
          width: calc(40% - 24px);

          img {
            width: 100%;
            max-height: initial;
            object-fit: initial;
          }

          figcaption {
            text-align: left;
            font-family: 'Founders Mono', monospace;
            margin: 3px 0;
          }
        }
      }
    }

    &__recommendations {
      border: 2px solid $primary-color;
      border-left: 0;
      border-right: 0;
      border-bottom: 0;

      @include screen-size-m {
        min-height: 82vh;
      }

      @include screen-size-l {
        width: 100%;
      }
    }
  }

  @include screen-size-l {
    .blocks-gallery-item {
      margin: 0 10px;
    }

    .columns-2 {
      .blocks-gallery-item {
        width: calc(95% / 2);
      }
    }

    .columns-3 {
      .blocks-gallery-item {
        width: calc(95% / 3);
      }
    }

    .columns-4 {
      .blocks-gallery-item {
        width: calc(85% / 4);
      }
    }
  }

  .blocks-gallery-grid {
    width: 100%;

    @include screen-size-l {
      width: 85%;
    }
  }

  .blocks-gallery-item {
    figure img {
      max-height: 500px;
      @include screen-size-l {
        object-fit: contain;
        max-height: 700px;
      }
    }

    figure figcaption {
      font-family: 'Founders Mono', monospace;
      font-size: 15px;
      margin: 10px;
    }
  }
}

.article-tags {
  border: 2px solid $primary-color;
  border-left: 0;
  border-right: 0;
  border-top: 0;

  padding: 21px 5px;

  @include screen-size-m {
    width: 60%;
    border-left: 2px solid;
    margin-left: 40%;
    padding: 15px;
  }

  .pill {
    font-weight: 400;

    font-size: 11px;
    line-height: 15px;

    @include screen-size-xl {
      width: 120px;
      font-size: 12px;
      line-height: 15px;
    }

    @include screen-size-xxl {
      font-size: 17px;
      line-height: 20px;
    }
  }
}

/** Recommendations stuff **/
.article__recommendations--morgen {
  border-top: 2px solid $primary-color;
  padding-top: 0;

  .article {
    &__recommendations-header {
      margin: 0 10px;
      display: inline-flex;

      h2 {
        display: inline-block;
        margin: auto;
        padding: 20px;
        font-size: 30px;
        font-weight: 400;
      }

      img {
        height: 61px;
        width: auto;
      }
    }

    &__recommendations-list {
      display: grid;
      grid-template-columns: 50% 50%;
      margin-top: 24px;
      padding: 0 grid-margin();

      @include screen-size-l {
        grid-template-columns: repeat(5, grid-width(2));
        grid-gap: grid-gap(1);
      }
    }

    &__recommended-list-item {
      padding: 0 10px;

      @include screen-size-l {
        padding: initial;
      }

      * {
        display: block;
        text-decoration: none;
      }

      a {
        height: 600px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      img {
        width: 100%;
        height: 160px;
        object-fit: cover;

        @include screen-size-m {
          height: 250px;
        }
      }

      span {
        font-family: 'Founders Mono', monospace;
        font-size: 16px;
        line-height: 18px;
        font-weight: 100;
        text-transform: uppercase;

        margin-top: 25px;
      }

      h2 {
        font-size: $font-size-paragraph;
        margin: 10px 0;
      }

      h3 {
        margin-top: 8px;
        margin-bottom: 0;
        font-size: 25px;
        line-height: 27px;
      }

      p {
        font-size: 26px;
        line-height: 30px;
        margin: 5px 0;
        font-weight: 200;
      }
    }
  }
}

/** Recommendations stuff **/
.article__recommendations--morgen {
  border-top: 2px solid $primary-color;
  padding-top: 0;

  .article {
    &__recommendations-header {
      margin: 0 10px;
      display: inline-flex;

      h2 {
        display: inline-block;
        margin: auto;
        padding: 20px 0;
        font-weight: 400;

        font-size: 19px;
        line-height: 25px;

        @include screen-size-xl {
          font-size: 21px;
          line-height: 25px;
        }

        @include screen-size-xxl {
          font-size: 30px;
          line-height: 35px;
        }
      }

      img {
        height: 61px;
        width: auto;
      }

      .arrow-container {
        width: grid-width(2);

        @include screen-size-m {
          width: grid-width(1.2);
        }
      }
    }

    &__recommendations-list {
      display: grid;
      grid-template-columns: 50% 50%;
      padding: 0 grid-margin();

      @include screen-size-l {
        grid-template-columns: repeat(5, grid-width(2));
        grid-gap: grid-gap(1);
      }

      margin-top: 24px;
    }

    &__recommended-list-item {
      padding: 0 5px;

      @include screen-size-l {
        padding: initial;
      }

      * {
        display: block;
        text-decoration: none;
      }

      a {
        height: 600px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      span, h2, p {
        font-size: $font-size-small;
        line-height: $font-size-small * 1.4;
        margin: 5px 0;
      }

      img {
        width: 100%;
        height: 150px;
        object-fit: cover;

        @include screen-size-m {
          height: 250px;
        }
      }

      span {
        font-size: $font-size-small / 1.5;
        text-transform: uppercase;
      }

      h2 {
        font-size: $font-size-paragraph;
        margin: 10px 0;
      }

      span {
        font-family: 'Founders Mono', monospace;
        font-weight: 100;

        margin-top: 25px;

        font-size: 10px;
        line-height: 15px;

        @include screen-size-xl {
          font-size: 10px;
          line-height: 15px;
        }

        @include screen-size-xxl {
          font-size: 15px;
          line-height: 20px;
        }
      }

      h3 {
        margin-top: 8px;
        margin-bottom: 0;

        font-size: 15px;
        line-height: 20px;

        @include screen-size-xl {
          font-size: 15px;
          line-height: 20px;
        }

        @include screen-size-xxl {
          font-size: 20px;
          line-height: 25px;
        }
      }

      p {
        margin: 5px 0;
        font-weight: 200;

        font-size: 15px;
        line-height: 20px;

        @include screen-size-xl {
          font-size: 15px;
          line-height: 20px;
        }

        @include screen-size-xxl {
          font-size: 20px;
          line-height: 25px;
        }
      }
    }
  }
}
