@import "_fonts";
@import "_colors";
@import "_mixins";

.article {
  padding: 10px;

  @include screen-size-l {
    width: 80vw;
    margin: auto;
  }

  &__content {
    li {
      padding: 10px 5px;
      list-style-type: initial;
      list-style-position: inside;
    }

    @include screen-size-xl {
      p, h1, h2, h3, h4, h5, h6, ul {
        padding: 0 15%;
      }
    }
  }

  &__header {
    text-align: center;
    @include screen-size-l {
      margin: 50px 0;
    }
  }

  &__meta {
    font-size: $font-size-small;
    font-weight: lighter;
  }

  p {
    margin: $font-size-paragraph 0;
    line-height: $font-size-paragraph * 1.4;

    @include screen-size-l {
      margin: $font-size-paragraph * 2 0;
    }
  }

  figure {
    margin: 15px 0;
    width: 100%;
    text-align: center;

    img {
      width: 100%;
      height: auto;
      max-height: 400px;
      object-fit: scale-down;
    }
  }

  &__recommendations {
    border: 5px solid $background-inverted;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;

    @include screen-size-l {
      width: 100%;
    }
  }

  &__recommendations-list {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 15px;

    @include screen-size-xl {
      grid-template-columns: repeat(5, 20%);
    }
  }

  &__recommended-list-item {
    padding: 0 5px;

    * {
      display: block;
      text-decoration: none;
    }

    span, h2, p {
      font-size: $font-size-small;
      line-height: $font-size-small * 1.4;
      margin: 5px 0;
    }

    img {
      width: 100%;
      height: auto;
      max-height: 200px;
      object-fit: cover;
    }

    span {
      font-size: $font-size-small / 1.5;
    }

    h2 {
      font-size: $font-size-paragraph;
      margin: 10px 0;
    }
  }

  &--morgen {
    position: relative;
    padding-top: 0;
    padding-bottom: 0;

    .blocks-gallery-grid {
      width: 100%;
    }

    .wp-block-gallery {
      padding: initial;
    }

    @include screen-size-l {
      display: grid;
      grid-template-columns: 35% 65%;
      width: initial;

      .article__header {
        text-align: initial;
        padding: 0 5px;
      }

      .wp-block-image, .wp-block-gallery {
        position: absolute;
        left: 0;
        width: 35%;
        margin: 0;
        text-align: initial;
        padding: initial;
      }
    }

    .article__main {
      border: 0;

      @include screen-size-l {
        border: 2px solid $primary-color;
        border-top: 0;
        border-right: 0;
        border-bottom: 0;
      }
    }

    .article__content {
      @include screen-size-xl {
        p, h1, h2, h3, h4, h5, h6 {
          padding: 0 5px;
        }
      }
    }
  }
}
