@import "_fonts";
@import "_colors";
@import "_mixins";

.article-tags {
  border: 2px solid $primary-color;
  border-left: 0;
  border-right: 0;
  border-top: 0;

  padding: 21px 5px;

  @include screen-size-m {
    width: 60%;
    border-left: 2px solid;
    margin-left: 40%;
    padding: 15px;
  }

  .pill {
    font-size: 15px;
    font-weight: 400;
    width: 142px;
    text-align: center;

    @include screen-size-m {
      font-size: 11px;
      width: 108px;
    }
  }
}

.article--morgen {
  padding-top: 38px;

  @include screen-size-m {
    display: grid;
    grid-template-columns: 40% 60%;
    width: initial;
    padding: initial;
  }

  .article {
    &__header {
      padding: 0 10px;
      text-align: left;

      @include screen-size-m {
        margin-bottom: 0;
      }
    }

    &__main {
      padding-bottom: 25vh;

      @include screen-size-m {
        border-left: 2px solid $primary-color;
      }
    }

    &__title {
      text-align: left;
      font-size: 45px;
      line-height: 49px;

      @include screen-size-l {
        font-size: 49px;
        width: 78%;
      }
    }

    &__excerpt p {
      font-size: 30px;
      margin: 16px 0;
      line-height: 38px;

      @include screen-size-l {
        width: 78%;
        margin: 0;
        font-size: 24px;
        font-weight: 200;
      }
    }

    &__meta {
      display: block;
      margin-top: 22px;
      font-size: 18px;
      line-height: 21px;
      font-weight: 200;
      font-family: 'Founders Mono', monospace;
      text-transform: uppercase;

      @include screen-size-l {
        margin-top: 30px;
        font-size: 11px;
      }
    }

    &__content {
      margin-top: 31px;

      @include screen-size-l {
        margin-top: 0;
        width: 81%;
      }

      h2, h3, h4, h5, h6 {
        margin: 0;
      }

      h2 {
        font-size: 30px;
        line-height: 38px;
        font-weight: 600;
      }

      h3 {
        font-size: 30px;
        font-weight: 600;
      }

      h4 {
        font-size: 28px;
        font-weight: 400;
      }

      h5 {
        font-size: 26px;
        font-weight: 400;
      }

      h6 {
        font-size: 24px;
        font-weight: 400;
      }

      p {
        margin: 48px 0;
        line-height: 38px;
        font-size: 30px;
        font-weight: 200;

        @include screen-size-l {
          padding: 10px;
          margin: 45px 0;
          line-height: 25px;
          font-size: 21px;

          &:first-child {
            margin-top: 25px;
          }
        }
      }

      figure {
        margin: 15px 0;
      }

      .wp-block-image {
        figcaption {
          font-family: 'Founders Mono', monospace;
          font-size: 12px;
          margin: 3px 0;
        }

        @include screen-size-m {
          position: absolute;
          left: 12px;
          margin: 0;
          width: calc(40% - 24px);

          img {
            width: 100%;
            max-height: initial;
            object-fit: initial;
          }

          figcaption {
            text-align: left;
            font-family: 'Founders Mono', monospace;
            font-size: 12px;
            margin: 3px 0;
          }
        }
      }
    }

    &__recommendations {
      border: 2px solid $primary-color;
    }
  }

  @include screen-size-l {
    .blocks-gallery-item {
      margin: 0 10px;
    }

    .columns-2 {
      .blocks-gallery-item {
        width: calc(95% / 2);
      }
    }

    .columns-3 {
      .blocks-gallery-item {
        width: calc(95% / 3);
      }
    }

    .columns-4 {
      .blocks-gallery-item {
        width: calc(85% / 4);
      }
    }
  }

  .blocks-gallery-grid {
    width: 100%;

    @include screen-size-l {
      width: 85%;
    }
  }

  .blocks-gallery-item {
    figure img {
      max-height: 500px;
      @include screen-size-l {
        object-fit: contain;
        max-height: 700px;
      }
    }

    figure figcaption {
      font-family: 'Founders Mono', monospace;
      font-size: 15px;
      margin: 10px;
    }
  }
}

/** Recommendations stuff **/
.article__recommendations--morgen {
  border-top: 2px solid $primary-color;
  padding-top: 0;

  .article {
    &__recommendations-header {
      margin: 0 10px;
      display: inline-flex;

      h2 {
        display: inline-block;
        margin: auto;
        padding: 20px;
        font-size: 30px;
        font-weight: 400;
      }

      img {
        height: 61px;
        width: auto;
      }

      .arrow-container {
        width: grid-width(2);

        @include screen-size-m {
          width: grid-width(1.2);
        }
      }
    }

    &__recommendations-list {
      margin-top: 24px;
    }

    &__recommended-list-item {
      padding: 0 10px;

      img {
        width: 100%;
        height: 160px;
        object-fit: cover;
      }

      span {
        font-family: 'Founders Mono', monospace;
        font-size: 16px;
        line-height: 18px;
        font-weight: 100;

        margin-top: 25px;
      }

      h3 {
        margin-top: 8px;
        margin-bottom: 0;
        font-size: 25px;
        line-height: 27px;
      }

      p {
        font-size: 26px;
        line-height: 30px;
        margin: 5px 0;
        font-weight: 200;
      }
    }
  }
}

/** Recommendations stuff **/
.article__recommendations--morgen {
  border-top: 2px solid $primary-color;
  padding-top: 0;

  .article {
    &__recommendations-header {
      margin: 0 10px;
      display: inline-flex;

      h2 {
        display: inline-block;
        margin: auto;
        padding: 20px;
        font-size: 30px;
        font-weight: 400;
      }

      img {
        height: 61px;
        width: auto;
      }
    }

    &__recommendations-list {
      margin-top: 24px;
    }

    &__recommended-list-item {
      padding: 0 10px;

      img {
        width: 100%;
        height: 160px;
        object-fit: cover;
      }

      span {
        font-family: 'Founders Mono', monospace;
        font-size: 16px;
        line-height: 18px;
        font-weight: 100;

        margin-top: 25px;
      }

      h3 {
        margin-top: 8px;
        margin-bottom: 0;
        font-size: 25px;
        line-height: 27px;
      }

      p {
        font-size: 26px;
        line-height: 30px;
        margin: 5px 0;
        font-weight: 200;
      }
    }
  }
}
