@import "_fonts";
@import "_colors";
@import "_mixins";

.article--heute {
  padding: 25px 0 0 0;
  margin-bottom: 25vh;

  @include screen-size-l {
    width: grid-width(8);
  }

  .article {
    padding: 10px;

    @include screen-size-l {
      width: 80vw;
      margin: auto;
    }

    figure {
      margin: 15px 0;
      width: 100%;
      text-align: center;

      img {
        width: 100%;
        height: auto;
        max-height: 400px;
        object-fit: scale-down;
      }
    }

    &__back-button {
      display: none;
      @include screen-size-l {
        display: initial;
      }

      border: 0;
      padding: 0;
      background: inherit;

      position: absolute;
      left: grid-margin();
      width: grid-width(0.38);

      img {
        width: inherit;
        height: auto;
      }
    }

    &__header {
      margin: 0;
      text-align: center;

      @include screen-size-l {
        margin: 50px 0;
      }
    }

    &__title {
      @include screen-size-l {
        padding: 0 grid-width(1);
      }

      font-size: 30px;
      line-height: 30px;

      @include screen-size-xl {
        font-size: 71px;
        line-height: 71px;
      }

      @include screen-size-xxl {
        font-size: 100px;
        line-height: 100px;
      }
    }

    &__excerpt {
      margin: auto;

      @include screen-size-l {
        width: grid-width(5) + grid-gap(1);
      }

      p {
        margin: 24px;
        text-align: initial;

        @include screen-size-l {
          margin: 12px 0;
          font-weight: 200;
        }

        font-size: 19px;
        line-height: 25px;

        @include screen-size-xl {
          font-size: 21px;
          line-height: 25px;
        }

        @include screen-size-xxl {
          font-size: 35px;
          line-height: 40px;
        }
      }
    }

    &__meta {
      display: block;
      margin-top: 28px;
      font-weight: 200;
      font-family: 'Founders Mono', monospace;
      text-transform: uppercase;

      @include screen-size-l {
        margin-top: 27px;
      }

      font-size: 11px;
      line-height: 11px;

      @include screen-size-xl {
        font-size: 12px;
        line-height: 12px;
      }

      @include screen-size-xxl {
        font-size: 17px;
        line-height: 17px;
      }
    }

    &__content {
      li {
        padding: 10px 5px;
        list-style-type: initial;
        list-style-position: inside;
      }

      @include screen-size-xl {
        p, h1, h2, h3, h4, h5, h6, ul {
          padding: 0 15%;
        }
      }

      p strong {
        font-weight: 600;
        font-size: inherit;
      }

      p em {
        font-style: oblique;
        font-size: inherit;
      }

      p a {
        font-size: inherit;
      }

      margin: auto;
      margin-top: 54px;

      @include screen-size-l {
        margin-top: 68px;
        width: grid-width(5) + grid-gap(1);
      }

      h2, h3, h4, h5, h6 {
        margin: 0 20px;

        @include screen-size-l {
          padding: 0;
          margin: 0;
        }
      }

      h2 {
        font-size: 30px;
      }

      h3 {
        font-size: 28px;
      }

      h4 {
        font-size: 26px;
      }

      h5 {
        font-size: 24px;
      }

      h6 {
        font-size: 22px;
      }

      p {
        margin: 25px;
        font-weight: 200;

        @include screen-size-l {
          padding: 0;
          margin: 25px 0;
        }

        font-size: 19px;
        line-height: 25px;

        @include screen-size-xl {
          font-size: 21px;
          line-height: 25px;
        }

        @include screen-size-xxl {
          font-size: 30px;
          line-height: 40px;
        }
      }
    }

    &__recommendations {
      border-left: 0;
      border-right: 0;
      border-bottom: 0;

      @include screen-size-m {
        min-height: 82vh;
      }

      @include screen-size-l {
        width: 100%;
      }

      border: 2px solid $primary-color;
    }
  }

  /** Gallery related stuff **/
  .wp-block-image, .blocks-gallery-item figcaption {
    font-size: 10px;
    line-height: 15px;

    @include screen-size-xl {
      font-size: 12px;
      line-height: 15px;
    }

    @include screen-size-xxl {
      font-size: 17px;
      line-height: 25px;
    }
  }

  .wp-block-image.size-large {
    @include screen-size-l {
      width: grid-width(8);
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .gallery {
    width: 94%;

    &__button {
      @include screen-size-l {
        width: 3%;
        top: 47%;
      }
    }
  }

  @include screen-size-l {
    .blocks-gallery-item {
      margin: 0 10px;
    }

    .columns-2 {
      .blocks-gallery-item {
        width: calc(100% / 2);
      }
    }

    .columns-3 {
      .blocks-gallery-item {
        width: calc(95% / 3);
      }
    }

    .columns-4 {
      .blocks-gallery-item {
        width: calc(95% / 4);
      }
    }
  }

  .blocks-gallery-grid {
    width: 94%;

    @include screen-size-l {
      width: 86%;
    }
  }

  .blocks-gallery-item {
    figure img {
      @include screen-size-l {
        object-fit: contain;
        max-height: 700px;
      }
    }

    figure figcaption {
      font-family: 'Founders Mono', monospace;
      margin: 10px;
    }
  }
}

/** Recommendations stuff **/
.article__recommendations--heute {
  border-top: 2px solid $primary-color;
  padding-top: 0;

  .article {
    &__recommendations-header {
      margin: 0 10px;
      display: inline-flex;

      h2 {
        display: inline-block;
        margin: auto;
        padding: 20px 0;
        font-weight: 400;

        font-size: 19px;
        line-height: 25px;

        @include screen-size-xl {
          font-size: 21px;
          line-height: 25px;
        }

        @include screen-size-xxl {
          font-size: 30px;
          line-height: 35px;
        }
      }

      img {
        height: 61px;
        width: auto;
      }

      .arrow-container {
        width: grid-width(2);

        @include screen-size-m {
          width: grid-width(1.2);
        }
      }
    }

    &__recommendations-list {
      display: grid;
      grid-template-columns: 50% 50%;
      padding: 0 grid-margin();

      @include screen-size-l {
        grid-template-columns: repeat(5, grid-width(2));
        grid-gap: grid-gap(1);
      }

      margin-top: 24px;
    }

    &__recommended-list-item {
      padding: 0 5px;

      @include screen-size-l {
        padding: initial;
      }

      * {
        display: block;
        text-decoration: none;
      }

      a {
        height: 600px;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      span, h2, p {
        font-size: $font-size-small;
        line-height: $font-size-small * 1.4;
        margin: 5px 0;
      }

      img {
        width: 100%;
        height: 150px;
        object-fit: cover;

        @include screen-size-m {
          height: 250px;
        }
      }

      span {
        font-size: $font-size-small / 1.5;
        text-transform: uppercase;
      }

      h2 {
        font-size: $font-size-paragraph;
        margin: 10px 0;
      }

      span {
        font-family: 'Founders Mono', monospace;
        font-weight: 100;

        margin-top: 25px;

        font-size: 10px;
        line-height: 15px;

        @include screen-size-xl {
          font-size: 10px;
          line-height: 15px;
        }

        @include screen-size-xxl {
          font-size: 15px;
          line-height: 20px;
        }
      }

      h3 {
        margin-top: 8px;
        margin-bottom: 0;

        font-size: 15px;
        line-height: 20px;

        @include screen-size-xl {
          font-size: 15px;
          line-height: 20px;
        }

        @include screen-size-xxl {
          font-size: 20px;
          line-height: 25px;
        }
      }

      p {
        margin: 5px 0;
        font-weight: 200;

        font-size: 15px;
        line-height: 20px;

        @include screen-size-xl {
          font-size: 15px;
          line-height: 20px;
        }

        @include screen-size-xxl {
          font-size: 20px;
          line-height: 25px;
        }
      }
    }
  }
}
