@import "_fonts";
@import "_colors";
@import "_mixins";

.article--gestern {
  margin: auto;

  * {
    color: $primary-color-inverted;
  }

  .article {
    padding: 10px;

    @include screen-size-l {
      width: 80vw;
      margin: auto;
    }

    figure {
      margin: 15px 0;
      width: 100%;
      text-align: center;

      img {
        width: 100%;
        height: auto;
        max-height: 400px;
        object-fit: scale-down;
      }
    }

    &__back-button {
      display: none;
      @include screen-size-s {
        display: initial;
        transform: rotate(180deg);
        margin-top: -30px;
      }

      border: 0;
      padding: 0;
      background: inherit;

      position: absolute;
      left: grid-margin();
      width: grid-width(0.38);

      img {
        width: inherit;
        height: auto;
      }
    }

    &__header {
      position: relative;
      margin: 40px 0;
      text-align: center;
    }

    &__title {
      @include screen-size-l {
        padding: 0 grid-width(1);
      }

      font-size: 30px;
      line-height: 30px;

      @include screen-size-xl {
        font-size: 71px;
        line-height: 71px;
      }

      @include screen-size-xxl {
        font-size: 100px;
        line-height: 100px;
      }
    }

    &__excerpt {
      margin: auto;

      @include screen-size-l {
        width: grid-width(5) + grid-gap(1);
      }

      p {
        margin: 24px;
        text-align: initial;

        @include screen-size-l {
          margin: 12px 0;
          font-weight: 200;
        }

        font-size: 19px;
        line-height: 25px;

        @include screen-size-xl {
          font-size: 21px;
          line-height: 25px;
        }

        @include screen-size-xxl {
          font-size: 35px;
          line-height: 40px;
        }
      }
    }

    &__meta {
      display: block;
      margin-top: 28px;
      font-weight: 200;
      font-family: 'Founders Mono', monospace;
      text-transform: uppercase;

      @include screen-size-l {
        margin-top: 27px;
      }

      font-size: 11px;
      line-height: 11px;

      @include screen-size-xl {
        font-size: 12px;
        line-height: 12px;
      }

      @include screen-size-xxl {
        font-size: 17px;
        line-height: 17px;
      }
    }

    &__content {
      li {
        padding: 10px 5px;
        list-style-type: initial;
        list-style-position: inside;
      }

      @include screen-size-xl {
        p, h1, h2, h3, h4, h5, h6 {
          padding: 0 15%;
        }
      }

      p strong {
        font-weight: 600;
        font-size: inherit;
      }

      p em {
        font-style: oblique;
        font-size: inherit;
      }

      p a {
        font-size: inherit;
      }

      margin: auto;
      margin-top: 30px;

      h2, h3, h4, h5, h6 {
        margin: 20px;
      }

      h2 {
        font-size: 30px;
      }

      h3 {
        font-size: 28px;
      }

      h4 {
        font-size: 26px;
      }

      h5 {
        font-size: 24px;
      }

      h6 {
        font-size: 22px;
      }

      p {
        margin: 25px;
        font-weight: 200;

        @include screen-size-l {
          padding: 0;
          margin: 25px 0;
        }

        font-size: 19px;
        line-height: 25px;

        @include screen-size-xl {
          font-size: 21px;
          line-height: 25px;
        }

        @include screen-size-xxl {
          font-size: 30px;
          line-height: 40px;
        }
      }
    }
  }

  /** Gallery related stuff **/
  .wp-block-image figcaption, .blocks-gallery-item figcaption {
    font-size: 10px;
    line-height: 15px;

    @include screen-size-xl {
      font-size: 12px;
      line-height: 15px;
    }

    @include screen-size-xxl {
      font-size: 17px;
      line-height: 25px;
    }
  }

  .wp-block-image.size-large {
    text-align: center;

    @include screen-size-l {
      width: grid-width(8);
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }

    img {
      width: 100%;
      height: auto;
      max-height: 400px;
      object-fit: scale-down;
    }
  }

  .gallery {
    width: 94%;

    &__button {
      img {
        width: 100%;
      }

      @include screen-size-l {
        width: 3%;
        top: 47%;
      }
    }
  }

  @include screen-size-l {
    .blocks-gallery-item {
      margin: 0 10px;
    }

    .columns-2 {
      .blocks-gallery-item {
        width: calc(100% / 2);
      }
    }

    .columns-3 {
      .blocks-gallery-item {
        width: calc(95% / 3);
      }
    }

    .columns-4 {
      .blocks-gallery-item {
        width: calc(95% / 4);
      }
    }
  }

  .blocks-gallery-grid {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    width: 94%;

    @include screen-size-l {
      width: 86%;
    }

    figure img {
      width: 100%;
    }
  }

  .blocks-gallery-item {
    figure img {
      @include screen-size-l {
        width: 100%;
        object-fit: contain;
        max-height: 700px;
      }
    }

    figure figcaption {
      font-family: 'Founders Mono', monospace;
      margin: 10px;
    }
  }
}
