@import "_fonts";
@import "_colors";
@import "_mixins";

.article--heute {
  padding: 25px 0 0 0;
  margin-bottom: 25vh;

  @include screen-size-l {
    width: grid-width(8);
  }

  .article {
    &__header {
      margin: 0;
    }

    &__title {
      font-size: 40px;
      line-height: 45px;

      @include screen-size-l {
        font-size: 71px;
        line-height: 75px;
        padding: 0 grid-width(1);
      }

      @include screen-size-xxl {
        font-size: 100px;
        line-height: 110px;
        padding: 0 grid-width(1);
      }
    }

    &__excerpt {
      margin: auto;

      @include screen-size-l {
        width: grid-width(5) + grid-gap(1);
      }
    }

    &__excerpt p {
      margin: 24px;
      text-align: initial;

      font-size: 25px;
      line-height: 30px;

      @include screen-size-l {
        margin: 12px 0;
        font-weight: 200;
        font-size: 24px;
        line-height: 28px;
      }

      @include screen-size-xxl {
        font-size: 35px;
        line-height: 38px;
      }
    }

    &__meta {
      display: block;
      margin-top: 28px;
      font-weight: 200;
      font-family: 'Founders Mono', monospace;
      text-transform: uppercase;
      font-size: 15px;
      line-height: 20px;

      @include screen-size-l {
        margin-top: 27px;
      }

      @include screen-size-xxl {
        font-size: 17px;
        line-height: 20px;
      }
    }

    &__content {
      margin: auto;
      margin-top: 54px;

      @include screen-size-l {
        margin-top: 68px;
        width: grid-width(5) + grid-gap(1);
      }

      h2, h3, h4, h5, h6 {
        margin: 0 20px;

        @include screen-size-l {
          padding: 0;
          margin: 0;
        }
      }

      h2 {
        font-size: 30px;
      }

      h3 {
        font-size: 28px;
      }

      h4 {
        font-size: 26px;
      }

      h5 {
        font-size: 24px;
      }

      h6 {
        font-size: 22px;
      }

      p {
        margin: 25px;
        font-weight: 200;
        font-size: 20px;
        line-height: 25px;

        @include screen-size-l {
          padding: 0;
          margin: 25px 0;

          font-size: 21px;
          line-height: 28px;
        }

        @include screen-size-xxl {
          font-size: 30px;
          line-height: 39px;
        }
      }
    }

    &__recommendations {
      border: 2px solid $primary-color;
    }
  }

  /** Gallery related stuff **/
  .wp-block-image.size-large {
    @include screen-size-l {
      width: grid-width(8);
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .gallery {
    width: 94%;

    &__button {
      @include screen-size-l {
        width: 3%;
        top: 47%;
      }
    }
  }

  @include screen-size-l {
    .blocks-gallery-item {
      margin: 0 10px;
    }

    .columns-2 {
      .blocks-gallery-item {
        width: calc(100% / 2);
      }
    }

    .columns-3 {
      .blocks-gallery-item {
        width: calc(95% / 3);
      }
    }

    .columns-4 {
      .blocks-gallery-item {
        width: calc(95% / 4);
      }
    }
  }

  .blocks-gallery-grid {
    width: 94%;

    @include screen-size-l {
      width: 86%;
    }
  }

  .blocks-gallery-item {
    figure img {
      @include screen-size-l {
        object-fit: contain;
        max-height: 700px;
      }
    }

    figure figcaption {
      font-family: 'Founders Mono', monospace;
      font-size: 15px;
      margin: 10px;
    }
  }
}

/** Recommendations stuff **/
.article__recommendations--heute {
  border-top: 2px solid $primary-color;
  padding-top: 0;

  .article {
    &__recommendations-header {
      margin: 0 10px;
      display: inline-flex;

      h2 {
        display: inline-block;
        margin: auto;
        padding: 20px 0;
        font-size: 30px;
        font-weight: 400;
      }

      img {
        height: 61px;
        width: auto;
      }

      .arrow-container {
        width: grid-width(2);

        @include screen-size-m {
          width: grid-width(1.2);
        }
      }
    }

    &__recommendations-list {
      margin-top: 24px;
    }

    &__recommended-list-item {
      span {
        font-family: 'Founders Mono', monospace;
        font-size: 16px;
        line-height: 18px;
        font-weight: 100;

        margin-top: 25px;
      }

      h3 {
        margin-top: 8px;
        margin-bottom: 0;
        font-size: 25px;
        line-height: 27px;
      }

      p {
        font-size: 26px;
        line-height: 30px;
        margin: 5px 0;
        font-weight: 200;
      }
    }
  }
}
