@import "_fonts";
@import "_colors";

.article {
  padding: 10px;

  &__meta {
    font-size: $font-size-small;
    font-weight: lighter;
  }

  p {
    margin: $font-size-paragraph 0;
    line-height: $font-size-paragraph * 1.4;
  }

  figure {
    margin: 15px 0;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__recommendations {
    border: 5px solid $background-inverted;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }

  &__recommendations-list {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 15px;
  }

  &__recommended-list-item {
    padding: 0 5px;

    * {
      display: block;
      text-decoration: none;
    }

    span, h2, p {
      font-size: $font-size-small;
      line-height: $font-size-small * 1.4;
      margin: 5px 0;
    }

    img {
      width: 100%;
      height: auto;
    }

    span {
      font-size: $font-size-small / 1.5;
    }

    h2 {
      font-size: $font-size-paragraph;
      margin: 10px 0;
    }
  }
}
