@import "_fonts";
@import "_colors";
@import "_mixins";

@import "article-heute";
@import "article-morgen";

.has-text-align-center {
  text-align: center;
}

.has-text-align-right {
  text-align: right;
}

.has-text-align-left {
  text-align: left;
}

.wp-block-separator {
  margin: 0 42%;
  border: 1px solid $primary-color;
}

.wp-block-embed {
  &__wrapper {
    iframe {
      display: block;
      margin: auto;
    }
  }
}
