@import "_colors";
@import "_fonts";
@import "_mixins";

.category {
  min-height: 535px;

  @include screen-size-m {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  &__scroll-top {
    display: block;
    text-align: center;
    margin-top: 20px;

    img {
      width: 34px;
      height: auto;
    }
  }

  &__main {
    @include screen-size-m {
      border-left: 2px solid $background-inverted;
      padding-bottom: 20px;
    }
  }

  &__description, h1 {
    padding: 15px;

    @include screen-size-l {
      padding: initial;
    }
  }

  &__description {
    padding-right: 70px;

    background-color: $background-inverted;
    color: $primary-color-inverted;

    h1, p {
      color: inherit;
      background-color: inherit;
    }

    p {
      position: relative;
      font-weight: 200;
      font-size: 30px;
      line-height: 35px;
      text-indent: 30px;

      @include screen-size-m {
        padding: 10px 0;
        padding-right: 30px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 400;
        text-indent: initial;
      }
    }

    margin-top: 1px;

    @include screen-size-m {
      padding: 10px;
      padding-left: 135px;
      margin-top: 0;
    }
  }

  &__description-arrow {
    width: 22px;
    height: 18px;
    image-rendering: optimizeQuality;
  }

  &__edge-arrow {
    display: none;
    width: 25px;
    height: 38px;
    margin-right: 10px;
  }

  &__open-call-arrow {
    display: none;
    width: 70px;
    height: auto;
    margin-left: 10px;

    @include screen-size-l {
      display: initial;
    }
  }

  .articles-list {
    &__item-excerpt-arrow {
      display: none;
    }

    &__item {
      border: 2px solid $primary-color;
      border-top: 0;
      border-left: 0;
      border-right: 0;

      h2 {
        margin: 10px 0;
        font-weight: 800;
        font-size: 45px;
      }

      img {
        margin: 5px 0;
        height: 300px;
        object-fit: cover;

        @include screen-size-s {
          height: 350px;
        }

        @include screen-size-m {
          display: none;
        }
      }

      @include screen-size-m {
        &:hover {
          img {
            display: block;
            position: absolute;
            left: 0;
            top: 105px;
            width: 40%;
            height: 515px;
          }
        }
      }

      a {
        display: block;
        text-decoration: none;
        padding: 30px 20px;
      }

      p {
        margin: 10px 0;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
      }

      @include screen-size-m {
        padding-left: 115px;

        h2 {
          font-size: 28px;
        }

        p {
          font-weight: 200;
          font-size: 18px;
          line-height: 18px;
        }

        &:hover {
          background-color: $background-inverted;
          * {
            border-color: $primary-color-inverted;
            color: $primary-color-inverted;
          }
        }
      }
    }

    &__item-meta {
      font-family: 'Founders Mono', monospace;
      font-size: 18px;
      font-weight: 200;
      display: block;
      padding: 20px 0;
      padding-bottom: 10px;

      @include screen-size-m {
        padding: 10px 0;
        padding-bottom: 0;
        font-size: 12px;
      }
    }

    &__item-tags {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 5px;

      @include screen-size-m {
        display: none;
      }
    }
  }

  .wp-post-image {
    width: 100%;
    height: auto;
  }

  &--heute {
    @include screen-size-m {
      display: initial;
    }

    .category {
      @include screen-size-l {
        &__scroll-top {
          text-align: right;
          margin-right: 20px;
        }
      }

      &__open-call-arrow {
        @include screen-size-l {
          width: 100px
        }
      }

      &__main {
        min-height: 550px;
      }

      &__description {
        padding: 10px 0;

        p {
          padding: 34px 24px;
        }

        @include screen-size-l {
          display: none;
        }

        &--contrast-background {
          display: block;
          padding-bottom: 20px;
          color: $primary-color-inverted;
          background-color: $background-inverted;

          @include screen-size-m {
            display: block;
            padding-left: 0;
          }
        }

        &--open-call {
          text-align: initial;

          p {
            display: block;
            padding: 18px 25px;
            line-height: 35px;

            @include screen-size-l {
              margin-left: 110px;
              padding-top: 0;
              padding-bottom: 0;
              font-weight: 600;
              line-height: 25px;
              font-size: 20px;
            }
          }

          h1 {
            color: $primary-color;
            background-color: $background;
            margin: 25px 15px 10px 0;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 50px;
            padding: 14px;

            border-radius: 50px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            @include screen-size-l {
              padding-top: 0;
              padding-bottom: 0;
              font-weight: 800;
            }
          }

          @include screen-size-l {
            width: 90%;
            color: $primary-color;
            background-color: $background;
            padding: 10px 80px;
            padding-left: 0;
            border-radius: 80px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            h1 {
              margin: 10px 0;
            }
          }
        }
      }
    }

    img.articles-list__item-excerpt-arrow {
      display: initial;
      width: 20px;
      height: auto;
      vertical-align: middle;
    }

    .articles-list {
      &__item-tags {
        display: block;

        @include screen-size-m {
          position: absolute;
          left: 0;
          margin-left: 10px;
        }
      }

      &__item-meta {
        @include screen-size-m {
          font-size: 13px;
        }
      }

      &__item {
        padding-left: initial;
        border: 2px solid #000;
        border-top: 0;
        border-left: 0;
        border-right: 0;

        @include screen-size-m {
          a {
            display: block;
            width: 60%;
            margin-left: 120px;
          }

          h2 {
            font-size: 40px;
          }

          p {
            font-size: 22px;
            line-height: 28px;
          }

          &:hover {
            position: relative;

            img {
              display: block;
              position: absolute;
              top: 0;
              right: 10px;
              left: initial;
              width: 25%;
              height: 300px;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}
