@import "_colors";
@import "_fonts";
@import "_mixins";

.category {
  @include screen-size-m {
    display: grid;
    grid-template-columns: 35% 65%;
  }

  &__scroll-top {
    display: block;
    text-align: center;
    margin-top: 20px;

    img {
      width: 34px;
      height: auto;
    }
  }

  &__main {
    @include screen-size-m {
      border-left: 2px solid $background-inverted;
      padding-bottom: 20px;
    }
  }

  &__description, h1 {
    padding: 10px;

    @include screen-size-m {
      padding: initial;
    }
  }

  &__description {
    background-color: $background-inverted;
    color: $primary-color-inverted;

    h1, p {
      color: inherit;
      background-color: inherit;
    }

    margin-top: 1px;

    @include screen-size-m {
      padding: 30px;
      margin-top: 0;
    }

    @include screen-size-xl {
      padding-left: 80px;
    }
  }

  &__description-arrow {
    width: 22px;
    height: 18px;
  }

  .articles-list {
    &__item {
      border: 2px solid $primary-color;
      border-top: 0;
      border-left: 0;
      border-right: 0;
      padding: 10px;

      h2 {
        margin: 10px 0;
      }

      img {
        margin: 5px 0;
        height: 200px;
        object-fit: cover;

        @include screen-size-s {
          height: 350px;
        }

        @include screen-size-m {
          display: none;
        }
      }

      @include screen-size-m {
        &:hover {
          img {
            display: block;
            position: absolute;
            left: 0;
            top: 105px;
            width: 35%;
            height: 400px;
          }
        }
      }

      a {
        text-decoration: none;
      }

      p {
        margin: 10px 0;
      }

      @include screen-size-m {
        border: 2px solid $primary-color;
        border-left: 0;
        border-right: 0;
        border-bottom: 0;
        padding: 10px;

        &:hover {
          background-color: $background-inverted;
          * {
            border-color: $primary-color-inverted;
            color: $primary-color-inverted;
          }
        }
      }
    }

    &__item-meta {
      font-size: $font-size-small;
      display: block;
      padding: 5px;

      @include screen-size-m {
        padding: 0;
      }
    }

    &__item-tags {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 5px;

      @include screen-size-m {
        display: none;
      }
    }
  }

  .wp-post-image {
    width: 100%;
    height: auto;
  }

  &--heute {
    @include screen-size-m {
      display: initial;
    }

    .category {
      &__description {
        @include screen-size-m {
          display: none;
        }

        &--contrast-background {
          color: $primary-color-inverted;
          background-color: $background-inverted;

          @include screen-size-m {
            display: block;
            padding-left: 0;
          }
        }

        &--open-call {
          padding: 10px 0;

          @include screen-size-s {
            h1 {
              color: $primary-color;
              background-color: $background;
              margin: 10px 15px 10px 0;

              border-radius: 30px;
              border-top-left-radius: 0;
              border-bottom-left-radius: 0;
            }

            p {
              padding: 10px;
            }
          }

          @include screen-size-l {
            width: 90%;
            color: $primary-color;
            background-color: $background;
            padding: 10px 80px;
            border-radius: 80px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;

            h1 {
              margin: 10px 0;
            }
          }
        }
      }
    }

    .articles-list {
      &__item {
        border: 2px solid #000;
        border-top: 0;
        border-left: 0;
        border-right: 0;
      }
    }
  }
}
