@import "_colors";
@import "_mixins";

.category-gestern {
  width: 100%;
  background-color: $background-inverted;
  color: $primary-color-inverted;

  &__mobile-navigation {
    display: flex;
    flex-direction: column;

    @include screen-size-m {
      display: none;
    }

    padding: grid-margin();
    border-top: 2px solid $background;

    min-height: 100vh;

    .archive, .category {
      border-top: 2px solid $background;
      padding: grid-gap(4) 0;

      .pill {
        width: 100%;
        margin: 0;
        border-width: 2px;
      }
    }

    .archive .pill {
      font-size: 30px;
    }

    .category .pill {
      font-size: 35px;
      border-radius: 40px;

      small {
        display: block;
        font-size: 20px;
      }
    }

    p {
      font-size: 25px;
      line-height: 30px;
      padding: grid-gap(5) 0;

      min-height: 40vh;

      color: $primary-color-inverted;
    }

  }

  .mobile-scroll-top {
    @include screen-size-m {
      display: none;
    }

    position: fixed; // fallback when position: sticky is not supported
    position: sticky;
    top: 92vh;
    width: 100%;

    text-align: right;
    display: block;
    z-index: 2;

    img {
      width: 40px;
      height: auto;
      transform: rotate(-90deg);
    }
  }

  &__header {
    display: none;
    padding: 0 grid-margin();
    height: 60px;

    @include screen-size-m {
      display: grid;
      grid-template-columns: (grid-width(4) + grid-margin()) (grid-width(6) + grid-margin());
    }

    color: $primary-color;
    background: $background;

    &--left, &--right {
      @include screen-size-m {
        padding-top: calc(((35px / 2) + ((18px + 10px) / 2)) / 2); // 35px = total footer margin; (18px + 5px) / 2 = pill font-size + padding
      }
    }

    &--left {
      border-right: 1px solid $background-inverted;
    }

    &--right {
      padding-left: grid-margin();
      border-left: 1px solid $background-inverted;
    }

    .pill {
      margin: 0;
      margin-right: grid-gap(1);
      border: 2px solid $background-inverted;

      font-size: 15px;

      @include screen-size-xs {
        width: grid-width(4);
      }

      @include screen-size-l {
        font-size: 12px;
        width: grid-width(1);
      }

      @include screen-size-xl {
        font-size: 17px;
        width: grid-width(1);
      }
    }
  }

  &__frames {
    padding: 0 grid-margin();
    border-bottom: 2px solid $background;

    @include screen-size-m {
      display: grid;
      grid-template-columns: (grid-width(4) + grid-margin()) (grid-width(6) + grid-margin());
    }
  }
}

.gestern-print {
  padding-right: 0.7vw;
  margin-bottom: 200px;

  @include screen-size-m {
    border-right: 1px solid $background;
  }

  header {
    @include screen-size-m {
      display: none;
    }

    border-top: 2px solid $background;
    border-bottom: 2px solid $background;
    margin-bottom: grid-width(1);
    padding: grid-gap(2) 0;

    .pill {
      margin: 0;
      font-size: 15px;

      @include screen-size-xs {
        width: grid-width(4);
      }

      @include screen-size-l {
        font-size: 12px;
        width: grid-width(1);
      }

      @include screen-size-xl {
        font-size: 17px;
        width: grid-width(1);
      }
    }
  }

  &__post {
    position: relative;
    padding: grid-gap(4) 0;

    &:first-child {
      @include screen-size-xs {
        padding-top: 0;
      }
    }

    @include screen-size-m {
      display: inherit;
      padding: grid-gap(1) 0;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: grid-margin() * -1;
      content: ' ';

      height: 2px;
      background: $background;

      width: 100%;
      @include screen-size-m {
        width: grid-width(4) + grid-margin() * 2;
      }
    }
  }

  &__post-head {
    display: flex;

    .pill {
      height: 100%;
      border: 2px solid $background;
      margin: 0;

      font-size: 15px;

      @include screen-size-xs {
        width: grid-width(4);
      }

      @include screen-size-l {
        font-size: 12px;
        width: grid-width(1);
      }

      @include screen-size-xl {
        font-size: 17px;
        width: grid-width(1);
      }
    }

    h2 {
      color: $primary-color-inverted;
      flex-grow: 1;
      margin: auto 0;
      margin-left: grid-gap(1);
      font-weight: 500;

      font-size: 25px;
      line-height: 30px;

      @include screen-size-l {
        font-size: 27px;
      }

      @include screen-size-xl {
        font-size: 38px;
        line-height: 45px;
      }
    }
  }

  &__post-cover {
    object-fit: cover;
    object-position: top;
    margin: grid-gap(2) 0 grid-gap(1) 0;
    border-bottom: 1px solid $background;
    width: 100%;

    height: 250px;

    @include screen-size-l {
      height: 350px;
    }

    @include screen-size-xxl {
      height: 490px;
    }
  }

  p {
    color: $primary-color-inverted;
    font-weight: 300;

    font-size: 25px;
    line-height: 30px;

    width: 100%;

    @include screen-size-m {
      width: grid-width(3.5);
    }

    @include screen-size-l {
      font-size: 14px;
      line-height: 20px;
    }

    @include screen-size-xl {
      font-size: 20px;
      line-height: 25px;
    }
  }

  &__download {
    display: block;
    margin: 15px 0;
  }

  &__download a {
    color: $primary-color-inverted;

    font-size: 15px;
    line-height: 20px;

    @include screen-size-l {
      font-size: 10px;
      line-height: 15px;
    }

    @include screen-size-xl {
      font-size: 15px;
      line-height: 20px;
    }
  }

  &__meta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    width: 100%;

    @include screen-size-m {
      width: grid-width(3.5);
    }

    div, span {
      font-family: 'Founders Mono', monospace;
      font-size: 14px;
      line-height: 18px;
    }

    div {
      color: $primary-color-inverted;
      font-weight: 300;
    }
  }

  &__meta-item-title {
    color: $primary-color-inverted;
    font-weight: 600;
  }
}

.gestern-digital {
  padding-left: grid-margin();

  @include screen-size-m {
    border-left: 1px solid $background;
  }

  header {
    @include screen-size-m {
      display: none;
    }

    border-top: 2px solid $background;
    border-bottom: 2px solid $background;
    margin-bottom: grid-width(1);
    padding: grid-gap(2) 0;

    .pill {
      margin: 0;
      font-size: 15px;

      @include screen-size-xs {
        width: grid-width(4);
      }

      @include screen-size-l {
        font-size: 12px;
        width: grid-width(1);
      }

      @include screen-size-xl {
        font-size: 17px;
        width: grid-width(1);
      }
    }
  }

  h2, p {
    color: $primary-color-inverted;
  }

  &__post {
    position: relative;
    padding: grid-gap(4) 0;

    &:first-child {
      @include screen-size-xs {
        padding-top: 0;
      }
    }

    &:last-child {
      @include screen-size-xs {
        &::after {
          display: none;
        }
      }
    }

    display: flex;
    flex-direction: column;

    @include screen-size-m {
      display: inherit;
      padding: grid-gap(1) 0;
    }

    &::after {
      position: absolute;
      bottom: 0;
      left: grid-margin() * -1;

      content: ' ';
      height: 2px;
      background: $background;

      width: 100%;
      @include screen-size-m {
        width: grid-width(6) + grid-margin() * 2;
      }
    }

    .pill {
      height: 100%;
      border: 2px solid $background;
      margin: 0;
      float: left;

      font-size: 15px;

      @include screen-size-xs {
        width: grid-width(4);
      }

      @include screen-size-l {
        font-size: 12px;
        width: grid-width(1);
      }

      @include screen-size-xl {
        font-size: 17px;
        width: grid-width(1);
      }
    }

    div {
      display: inline-block;
      padding: 0 grid-gap(1);

      width: 100%;

      @include screen-size-m {
        width: grid-width(4.5);
      }

      @include screen-size-l {
        width: grid-width(5);
      }

      h2 {
        font-weight: 500;
        font-size: 35px;
        line-height: 35px;

        @include screen-size-m {
          margin: 0;
        }

        @include screen-size-l {
          font-size: 27px;
        }

        @include screen-size-xl {
          font-size: 38px;
          line-height: 45px;
        }
      }

      p {
        margin-top: grid-margin();
        font-weight: 300;

        font-size: 25px;
        line-height: 30px;

        @include screen-size-l {
          font-size: 18px;
          line-height: 25px;
        }

        @include screen-size-xl {
          font-size: 26px;
          line-height: 30px;
        }
      }
    }
  }
}
