@import "_colors";
@import "_fonts";
@import "_mixins";

.category-morgen {
  .category {
    @include screen-size-m {
      display: grid;
      grid-template-columns: 40% 60%;
      width: 100%;
    }

    &__scroll-top {
      display: block;
      text-align: center;
      margin-top: 170px;

      img {
        width: 34px;
        height: auto;
      }
    }

    &__main {
      @include screen-size-m {
        border-left: 2px solid $background-inverted;
        padding-bottom: 20px;
      }
    }

    &__description, h1 {
      padding: 15px;

      @include screen-size-l {
        padding: initial;
      }
    }

    &__description {
      position: relative;

      @include screen-size-m {
        padding-right: 70px;
      }

      background-color: $background-inverted;
      color: $primary-color-inverted;

      h1, p {
        color: inherit;
        background-color: inherit;
      }

      p {
        position: relative;
        font-weight: 200;
        font-size: 30px;
        line-height: 35px;
        text-indent: 30px;

        @include screen-size-m {
          padding: 10px 0;
          padding-right: 30px;
          font-size: 18px;
          line-height: 22px;
          font-weight: 400;
          text-indent: initial;
        }

        .arrow {
          position: absolute;
          left: 0;
          transform: translateY(50%);

          height: 18px; // font-size
          width: auto;

          @include screen-size-m {
            left: -36px; // font-size * -2
            transform: initial;
          }
        }
      }

      margin-top: 1px;

      @include screen-size-m {
        padding: 10px;
        padding-left: 135px;
        margin-top: 0;
      }
    }

    .articles-list {
      &__item {
        border: 2px solid $primary-color;
        border-top: 0;
        border-left: 0;
        border-right: 0;

        h2 {
          margin: 10px 0;
          font-weight: 800;
          font-size: 45px;
        }

        .articles-list__cover {
          margin: 5px 0;
          height: 300px;
          object-fit: cover;

          @include screen-size-s {
            height: 350px;
          }

          @include screen-size-m {
            display: none;
          }
        }

        &:hover {
          .articles-list__cover {
            position: fixed;
            left: 0;
            width: 40%;
            height: auto;
            object-fit: contain;
            margin: auto;

            top: 70px;
            max-height: calc(100% - 70px);

            @include screen-size-m {
              display: block;
            }

            @include screen-size-l {
              top: 65px;
              max-height: calc(100% - 65px);
            }
          }

          .articles-list__read-more {
            display: none;

            &--inverted {
              display: initial;
            }
          }
        }

        a {
          display: block;
          text-decoration: none;
          padding: 0 10px;

          @include screen-size-m {
            display: flex;
          }
        }

        p {
          margin: 10px 0;
          font-weight: 400;
          font-size: 28px;
          line-height: 38px;
        }

        @include screen-size-m {
          h2 {
            font-size: 35px;
            margin: 5px 0;
          }

          p {
            font-weight: 200;
            font-size: 22px;
            line-height: 22px;
            margin: 5px 0;
            margin-bottom: 15px;
          }

          &:hover {
            background-color: $background-inverted;
            h2, p, .articles-list__item-meta {
              border-color: $primary-color-inverted;
              color: $primary-color-inverted;
            }
          }
        }
      }

      &__item-meta {
        font-family: 'Founders Mono', monospace;
        font-size: 18px;
        font-weight: 200;
        display: block;
        padding: 20px 0;
        padding-bottom: 10px;
        text-transform: uppercase;

        @include screen-size-m {
          padding: 17px 0;
          padding-bottom: 0;
          font-size: 12px;
        }
      }

      &__item-tags {
        display: none;
        margin-top: 15px;

        @include screen-size-m {
          display: block;
        }
      }

      &__read-more {
        width: auto;
        height: 12px;
        margin: auto;

        &--inverted {
          display: none;
        }
      }
    }
  }

  .wp-post-image {
    width: 100%;
    height: auto;
  }
}
