@import "_colors";
@import "_fonts";
@import "_mixins";

.footer {
  margin-top: 30px;
  padding: 10px;
  background-color: $background-inverted;
  align-items: center;

  @include screen-size-m {
    margin-top: 0;
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-between;
  }

  * {
    color: $primary-color-inverted;
  }

  span {
    display: inline-block;
    font-size: $font-size-small / 1.5;
    margin: 15px 0;
  }

  ul {
    text-align: center;

    li {
      display: inline-block;
    }
  }
}
