@import "_colors";
@import "_mixins";

.header {
  @include grid-wrapper;
  background-color: $background-inverted;

  height: 70px;

  @include screen-size-l {
    height: 45px;
  }

  @include screen-size-xxl {
    height: 65px;
  }

  &__logo {
    display: inline-flex;
    width: grid-width(4);
    float: left;
    height: 100%;

    text-decoration: none;

    @include screen-size-m {
      width: grid-width(2);
    }

    @include screen-size-l {
      width: grid-width(1);
    }

    img {
      width: 100%;
      height: auto;
      max-height: 100%;
      object-fit: scale-down;
    }
  }

  &__menu {
    display: inline-flex;
    width: grid-width(1);
    height: 100%;
    float: right;

    @include screen-size-l {
      width: grid-width(5);
    }

    li {
      display: none;

      @include screen-size-l {
        display: inline-block;
        width: grid-width(1);
        height: 100%;
        margin-left: 1.4vw;

        &:first-child {
          margin-left: 0;
        }
      }

      @include screen-size-xl {
        padding: 0 22px;
      }

      a {
        display: inline-flex;
        height: 100%;
      }

      img {
        width: 100%;
        height: auto;
        max-height: 100%;
        object-fit: scale-down;
      }
    }

    &--active {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-flow: column;
      text-align: center;
      height: inherit;

      &::before {
        content: ' ';
        z-index: 2;
        background-color: $background-inverted;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
      }

      .header__menu-button {
        z-index: 2;
        width: grid-width(1);
        height: inherit;
        position: absolute;
        right: 0.7vw;
      }

      li {
        display: initial;
        z-index: 2;
        margin: 5% auto;
        width: grid-width(4);
      }
    }
  }

  &__menu-search {
    a {
      width: 100%;

      img {
        width: auto;
        height: calc(45px  / 3);
        margin: auto;

        @include screen-size-l {
          margin: auto 0 auto auto;
        }
      }
    }
  }

  &__menu-button {
    width: 100%;
    padding: 0;
    background-color: transparent;
    border: 0;
    outline: none;

    @include screen-size-l {
      display: none;
    }

    img {
      width: auto;
      height: 24px;
    }

    &:active {
      transform: rotate(360deg);
      transition-duration: 0.7s;
      transition-property: transform;

      -webkit-transform: rotate(360deg);
      -webkit-transition-duration: 0.7s;
      -webkit-transition-property: transform;
    }
  }

  &__menu-icon {
    &--hidden {
      display: none;
    }
  }

  &--type-page {
    height: 110px;

    @include screen-size-s {
      height: 72px;
    }

    .header {
      &__logo {
        width: 100%;

        @include screen-size-m {
          width: grid-width(2);
        }

        img {
          width: inherit;
        }
      }
    }
  }
}

.search-modal {
  display: block;
  z-index: 2;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  background: $background-inverted;

  &__logo {
    position: absolute;
    top: 0;
    left: 0.7vw;

    img {
      width: grid-width(2);
    }
  }

  .search {
    display: flex;
    height: 100%;

    &__toggle-button {
      position: absolute;
      top: 0;
      right: 0.7vw;;
      background: none;
      border: 0;
      height: 40px;
    }

    &__input {
      margin: auto;
      width: grid-width(5);
      height: grid-width(.5);
      border-radius: 50px;
      border: 0;
      font-size: 18px;
      padding: 0 20px;

      &:focus {
        outline: none;
      }
    }
  }
}
