@import "_colors";
@import "_mixins";

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 10px;
  background-color: $background-inverted;
  color: $primary-color-inverted;

  img {
    width: 100%;
    height: auto;
    margin: auto;
  }

  &--type-page {
    position: initial;

    @include tablet-up {
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }

  &--type-post {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  &__menu {
    display: flex;
    justify-content: flex-end;

    li {
      display: inline-block;
      margin: 0 10px;
      align-self: center;
    }

    a {
      text-decoration: none;
    }

    * {
      color: $primary-color-inverted;
    }

    @include mobile-only {
      li {
        display: none;
      }

      &--active {
        background-color: $background-inverted;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        justify-content: center;
        flex-direction: column;

        li {
          display: initial;
          margin: 10px;
        }
      }
    }
  }

  &__menu-button {
    display: none;
    color: initial;
    background: initial;
    border: initial;

    @include mobile-only {
      display: block;
      position: absolute;
      top: 15px;
      right: 5px;
    }
  }

  @include tablet-up {
    img {
      width: auto;
      height: 60px;
    }
  }
}
