@import "_colors";
@import "_mixins";

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 10px;
  background-color: $background-inverted;
  color: $primary-color-inverted;

  img {
    width: 100%;
    height: auto;
    margin: auto;
  }

  &--type-page {
    position: initial;

    @include screen-size-l {
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }

  &--type-post {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  &__menu {
    display: flex;
    justify-content: flex-end;

    a {
      text-decoration: none;
    }

    * {
      color: $primary-color-inverted;
    }

    li {
      display: none;
    }

    @include screen-size-l {
      li {
        display: initial;
        margin: 0 10px;
        place-self: center;
      }
    }

    &--active {
      background-color: $background-inverted;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      justify-content: center;
      flex-direction: column;

      li {
        display: inline-block;
        margin: 10px;
        align-self: center;
      }
    }
  }

  &__menu-button {
    display: block;
    background-color: transparent;
    border: transparent;
    position: absolute;
    top: 15px;
    right: 5px;

    @include screen-size-l {
      display: none;
      color: initial;
      background: initial;
      border: initial;
    }
  }

  @include screen-size-l {
    img {
      width: auto;
      height: 60px;
    }
  }
}
