@import "_colors";
@import "_fonts";
@import "_mixins";

.home {
  overflow-x: hidden;

  &__text {
    width: 70%;
    margin-left: 30%;
    margin-top: 10px;
    padding: 10px 10px 10px 20px;
    font-size: $font-size-small;
    font-weight: lighter;

    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .category-list {
    margin: 0 15px;

    @include screen-size-m {
      margin: 0 5px;
    }

    &__item {
      display: flex;
      margin: 27px 0;

      @include screen-size-m {
        margin: 24px 0;
      }

      a {
        font-size: 3rem;
        text-decoration: none;

        img {
          height: 85px;

          @include screen-size-m {
            height: 115px;
          }
        }
      }

      &:nth-child(odd) {
        &::before {
          content: ' ';
          flex-grow: 1;
        }
      }

      &:nth-child(even) {
        &::after {
          content: ' ';
          flex-grow: 1;
        }
      }
    }
  }
}

.home-headline {
  display: inline-block;
  font-size: 15px;
  line-height: 16px;
  margin-left: 30%;
  margin-top: 29px;
  padding: 8px 32px;
  font-weight: 200;
  font-family: 'Founders Mono', monospace;

  background-color: $background-inverted;
  color: $primary-color-inverted;

  border-radius: 30px;

  @include screen-size-s {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  @include screen-size-m {
    position: absolute;
    top: 28px;
    right: 10px;
    margin: 0;
    font-size: 11px;
    padding: 3px 21px;

    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    background-color: $background;
    color: $primary-color;
  }
}
