@import "_colors";
@import "_fonts";
@import "_mixins";

.home {
  &__text {
    width: 70%;
    margin-left: 30%;
    margin-top: 10px;
    padding: 10px 10px 10px 20px;
    font-size: $font-size-small;
    font-weight: lighter;

    border-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .category-list {
    margin: 0 15px;

    @include screen-size-m {
      margin: 0 5px;
    }

    &__item {
      display: flex;
      margin: 27px 0;

      @include screen-size-m {
        margin: 24px 0;
      }

      a {
        text-decoration: none;

        img {
          height: 65px;

          @include screen-size-m {
            height: 115px;
          }
        }
      }
    }

    &__arrow {
      flex-grow: 1;

      img {
        display: none;
        width: 95%;
        height: auto;
        margin-top: -25px;

        @include screen-size-s {
          display: block;
        }
      }

      .small {
        display: initial;
        width: 90%;
        height: auto;
        margin-top: -130px;

        @include screen-size-s {
          display: none;
        }
      }

      &--right {
        text-align: right;
        overflow-y: hidden;

        img {
          transform: scaleX(-1);
          width: 90%;
        }

        .small {
          margin-top: -100px;
        }
      }
    }
  }
}

.home-headline {
  display: inline-block;
  font-size: 15px;
  line-height: 16px;
  margin-left: 50px;
  margin-top: 29px;
  padding: 8px 32px;
  font-weight: 200;
  font-family: 'Founders Mono', monospace;

  background-color: $background-inverted;
  color: $primary-color-inverted;

  border-radius: 30px;

  @include screen-size-m {
    position: absolute;
    top: 28px;
    right: 10px;
    margin: 0;
    font-size: 11px;
    padding: 3px 21px;

    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    background-color: $background;
    color: $primary-color;
  }
}
