@import "_reset";
@import "_fonts";
@import "wp-meta";
@import "alert";
@import "header";
@import "footer";
@import "article";
@import "home";
@import "category";
@import "about";
@import "gallery";

.pill {
  display: inline-block;
  font-size: $font-size-small;
  padding: 5px;
  border-radius: 20px;
  color: $primary-color;
  background-color: $background;
  border: 1px solid $background-inverted;
  text-decoration: none!important;
  margin: 2px;

  &--inverted {
    color: $primary-color-inverted;
    background-color: $background-inverted;
    border-color: $background;
  }
}
