@import "_reset";
@import "_fonts";
@import "wp-meta";
@import "alert";
@import "header";
@import "footer";
@import "article";
@import "home";
@import "category";
@import "about";
@import "gallery";

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;

  main {
    flex: 1;
  }
}

.pill {
  font-family: 'Founders Mono', monospace;
  font-weight: 200;
  font-size: 9px;
  display: inline-block;
  padding: 5px;
  border-radius: 20px;
  color: $primary-color;
  background-color: $background;
  border: 1px solid $background-inverted;
  text-decoration: none!important;
  margin: 1px 10px;
  width: 100px;

  &--inverted {
    color: $primary-color-inverted;
    background-color: $background-inverted;
    border-color: $background;
  }
}
