@import '_colors';
@import '_mixins';

.category {
  .search {
    padding: 0 0.7vw;
    text-align: center;
    width: grid-width(10);
    margin: 10px auto;

    @include screen-size-l {
      margin: 30px auto;
      width: grid-width(6);
    }

    strong {
      font-weight: bold;
    }

    &__input {
      border-radius: 50px;
      border: 1px solid $primary-color;
      font-size: 18px;
      padding: 0 20px;
      margin: 10px auto;
      width: grid-width(8);
      height: 30px;

      @include screen-size-l {
        margin: 20px 0;
        width: grid-width(4);
        height: grid-width(.4);
      }

      &:focus {
        outline: none;
      }
    }

    &__found, &__found strong {
      margin: 10px auto;
      font-size: 22px;
    }

    &__input-wrapper {
      display: inline-flex;
    }

    &__button {
      background: none;
      border: 0;

      margin: auto auto auto -50px;
      height: 25px;

      @include screen-size-l {
        margin: auto 0 auto -50px;
      }

      img {
        width: auto;
        height: 100%;
      }
    }

    &__arrow {
      img {
        transform: rotate(90deg);
        width: grid-width(1);
        display: block;
        margin: 20px auto;
      }
    }
  }
}
