name: Refresh SSL Certificates

on:
  schedule:
    - cron: '0 0 1 * *' # renew cert in the beginning of every month

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Generate New Certificate
        run: |
          # Download certbot
          curl https://dl.eff.org/certbot-auto > certbot.bin
          chmod +x certbot.bin

          bin/renew-https-certificate.sh
        env:
          FTP_HOST: ${{ secrets.FTP_HOST }}
          FTP_USER: ${{ secrets.FTP_USER }}
          FTP_PASS: ${{ secrets.FTP_PASS }}
